xterm*vt100.translations: #override <Btn1Up>: select-end(CLIPBOARD)

*faceName: Terminus:pixelsize=10
*antialias: true
*dpi: 96

!black
*color0: #222222
*color8: #666666

!red
*color1: #D42C2C
*color9: #D42C2C

!green
*color2: #2CD442
*color10: #2CD442

!yellow
*color3: #DAE02D
*color11: #DAE02D

!blue
*color4: #2C61D4
*color12: #2C61D4

!magenta
*color5: #B22DD6
*color13: #B22DD6

!cyan
*color6: #2DB7D6
*color14: #2DB7D6

!white
*color7: #EFEFEF
*color15: #DDDDDD

